.text{
    margin-top: 70px;
    @media(min-width:768px){
         margin-top: 100px;
    }

    .text-visible{
        font-weight: 700;
        opacity: 1;
    }
    .text-muted{
        opacity: 0.5;
    }
}