.front-page {
  .left-col {
    margin-bottom: -38px;
  }
  .down-arrow {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
  }

  .hero-section {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    max-width: 100vw;
    overflow: clip;
    margin: 0 auto;

    &.bg-holder {
      position: relative;
      overflow: clip;
      overflow-x: visible !important;
      .bg-content {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          mix-blend-mode: darken;
          opacity: 0.8;
          background: transparent
            linear-gradient(90deg, #132030 0%, #13203000 100%) 0% 0% no-repeat
            padding-box;
        }
      }
    }

    .hero-content {
      position: relative;
      width: 100%;
      z-index: 3;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  @media (min-width: 768px) {
    .left-col {
      margin-bottom: unset;
    }
    .hero-section {
      .hero-content {
        // min-height: 45vh ;
        min-height: 400px;
      }
    }
  }
  @media (min-width: 992px) {
    .left-col {
      margin-bottom: unset;
    }
    .hero-section {
      .hero-content {
        min-height: 600px;
      }
    }
  }

  // Added For blauw container

  .bg-container {
    position: relative;
    overflow: clip;
    overflow-x: visible !important;
  }

  .bg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      mix-blend-mode: darken;
      opacity: 0.8;
      background: transparent linear-gradient(90deg, #132030 0%, #13203000 100%)
        0% 0% no-repeat padding-box;
    }
  }

  .partner-swiper {
    width: 100%;
    margin: 0 auto;
    overflow-y: visible;
  }
  .logo-img{
    width: 72px; height: 64px; border-radius: 5px; object-fit: contain;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: relative !important;
    width: 41px;
    height: 41px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .swiper-button-next::after,
  .swiper-rtl .swiper-button-prev::after {
    font-size: 11px;
    font-weight: 900;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next::after,
  .swiper-rtl .swiper-button-prev::after {
    font-size: 11px;
    font-weight: 900;
  }

  .swiper-container .swiper-button-next {
    right: 0px !important;
    // top: 2px !important;
  }

  .text-img-container {
    z-index: 1;
    padding-top: 100px;
  }
  .left-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 60px rgba(32, 114, 190, 0.1);
    border-radius: 0px 5px 5px 0px;
  }
  .right-img {
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
    height: 387px;
  }

  .logo-container {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  h3 {
    z-index: 999;
  }

  .img-container {
    width: 100%;
    height: 819px;
    object-fit: cover;
    margin: 0 auto;
    height: fit-content;
    padding-bottom: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .swiper-button-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .partner-slider {
      padding-top: 200px;
      padding-bottom: 100px;
    }

    .img-container .bg {
      position: absolute;
      top: 72%;
      left: 0;
      width: 200vw;
      height: 28%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }

    .text-img-container::before {
      position: absolute;
      background: #cce1f4;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      z-index: 2;
      content: "";
      height: 120%;
      width: 100vw;
      z-index: -2;
      top: 0;
    }

    .partner-slider {
      position: relative;
      z-index: 2;
    }

    .logoswiper.partner-swiper {
      position: relative;
      z-index: 2;
    }
  }

  @media (min-width: 992px) {
    .partner-slider {
      padding-top: 60px;
    }

    .img-container {
      padding-top: 16px;
    }
  }
}
