.footer {
  .footer-media {
    width: 15.4px;
    height: 15.41px;
  }

  .dropdown-menu {
    padding: 11px;
    margin: 0px -9px !important;
    background: #ffffff !important;
    border-radius: 5px;
    border: 1px solid #ffffff;
    opacity: 1;
  }

  .dropdownarrow {
    filter: brightness(0);
  }

  a {
    text-decoration: unset !important;
  }
  .footer-section {
    max-width: min(1700px, 100vw);
    // if i removed the margin it will expanded
    margin: 0 auto;
    overflow: clip;
    padding-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 0.25rem;
  }

  @media (min-width: 992px) {
    .navbar-nav .custom-nav-link {
      text-align: left;
      font-size: 16px;
    }
  }

  .footer-text {
    margin-top: 49px;
  }



  .footer-nav-link {
    color: #132030;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }


  .footer-nav-link.show > .footer-nav-link,
  .footer-nav-link.footer-nav-link.active {
    color: #f29401 !important;
    font-weight: 900 !important;
    opacity: 1;
  }

  .left-cont,
  .right-cont {
    position: relative;
  }

  .left-cont .bg-left {
    position: absolute;
    background-color: #f7f6f4;
    height: 100%;
    padding-left: 10px;
    width: 200vw;
    left: -50%;
    z-index: -1;
  }

  .left-cont {
    order: 2;
  }

  .right-cont {
    order: 1;
  }

  .right-cont .bg-right {
    background: #f29401;
    height: 100%;
    padding-right: 0;
    width: 200vw;
    position: absolute;
    z-index: 0;
    left: -50%;
  }

  .bg-right {
    left: 0;
  }

  .bottom-under {
    padding-top: 40px;
  }

  .bottom-padding {
    margin-bottom: 4rem;
  }

  .footer-linked-img {
    width: 25.79px;
    height: 25.8px;
  }

  .footer-logo {
    height: 36px;
    object-fit: cover;
  }

  // .footer-sm-screen {
  //   margin-left: 20px;
  // }

  .footer-vraag {
    color: #ffffff;
    // font-family: "richmond-display", serif;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    width: 280px;
  }

  .footer-text2 {
    color: #ffffff;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    width: 263px;
    display: block;
  }

  .footer-icon {
    color: #ffffff;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    opacity: 1;
  }

  .img-jordi {
    position: absolute;
    object-fit: cover;

    width: 176.46px;
    height: 268px;
    right: -18px;
    bottom: 0;
  }

  .footer-right-container {
    margin-top: 70px;
    // padding-left: 20px;
    padding-bottom: 50px;
    @media (min-width: 768px) {
      padding-left: 50px;
    }
  }

  .footer-privacy {
    color: #132030;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 0.5;
  }

  .btn-wrap {
    margin-top: 30px;
  }

  .footer-codeblauw {
    padding: 30px 0;
  }

  .door-code-blauw {
    color: #132030;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0px;
    opacity: 0.5;
  }

  .footer-text {
    margin-top: 20px;
    color: #132030;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 300;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
  }

  .text-visible {
    opacity: 1;
  }

  .regular {
    line-height: 24px;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .bold {
    font-weight: bold;
    opacity: 1;
  }
  .navbar-nav .custom-nav-link {
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    // font-family: "ff-scala-sans-pro", sans-serif;
    font-family: "Libre Franklin", sans-serif;
    color: #132030;
    letter-spacing: 0px;
  }

  .under-bottom {
    border-bottom: 1px solid rgba(19, 32, 48, 0.25);
  }

  .dropdown-item {
    border-bottom: 1px solid #132030 !important;
  }

  .dropdown-menu li:last-child .dropdown-item {
    border-bottom: none !important;
  }

  @media (max-width: 1199.98px) {
    .dropdown-item {
      padding: unset !important;
    }

    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: unset !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
      color: unset !important;
    }
  }

  @media (min-width: 768px) {
    .footer-text {
      font-size: 16px;
    }

    .footer-text2 {
      width: unset;
    }

    .img-jordi {
      width: 238.46px;
      height: 381px;
    }
  }

  @media (min-width: 992px) {
    .footer-text {
      margin-top: 48px;
    }

    .left-cont {
      order: 1;
    }

    .right-cont {
      order: 2;
    }

    .right-cont .bg-right {
      width: 50vw;
      left: unset;
    }

    .img-jordi {
      height: 375px;
      width: 210.46px;
    }

    .footer-text2 {
      width: unset;
    }

    .bottom-under {
      padding-left: 15px;
      padding-top: 20px;
    }

    // .footer-sm-screen {
    //   margin-left: unset;
    // }
    .gap-lg-custom {
      gap: 10rem !important;
    }
    .bottom-padding {
      margin-bottom: unset;
    }
  }
}
