.overons {
  .pb{
    padding-bottom: 21px;
  }
  .text-wraper {
    padding-top: 80px;
    padding-bottom: 17px;
  }

  .white-container::before {
    content: "";
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    left: 0;
    height: 89%;
    min-height: 1059px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .inside-wraper {
    padding: 45px 0px;
  }

  .text-muted{
    opacity: 0.5;
    }
  .text-visible {
    opacity: 1;
    font-weight: bold;
  }

  .left-img {
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    object-fit: cover;
  }

  .container-block {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
  }

  .white-wraper {
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 1000px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
    padding: 40px 40px 32px 40px;
    margin-bottom: 1rem;
  }

  .werken-slider {
    z-index: 1;
  }
  .werken-slider::before {
    content: "";
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    left: 0;
    height: 100%;
    opacity: 1;
    background: #cce1f4;
  }

  .swiper-container {
   
    margin: 0 auto;
    overflow: clip;
    overflow-y: visible;
    display: flex;
    padding: 60px 0px 90px;
    flex-direction: column;
    gap: 10px;
  }

  .button-wrap {
    position: absolute;
    bottom: 354px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
  }
  h3{
    line-height: 40px;
  }

  @media (min-width: 768px) {
    .button-wrap {
      position: relative;
      bottom: unset;
      left: unset;
      transform: unset;
    }
  }

  @media (min-width: 992px) {

     h3{
    line-height: 50px;
  }
    .swiper-container {
      padding: 60px 0px 51px;
    }
    .button-wrap {
      position: relative;
      bottom: unset;
      left: unset;
      transform: unset;
    }
    h2 {
      font-size: 46px;
      line-height: 50px;
      font-weight: 100;
      text-align: center;
    }

    .inside-wraper {
      padding: 90px 0px;
    }

    .content-wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .first-blue-block {
      height: 725px;
      margin-top: unset;
    }
  }
}
