.overons {


  .text-wraper {
    padding-top: 80px;
    padding-bottom: 17px;
  }

  .white-container::before {
    content: "";
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    left: 0;
    height: 89%;
    min-height: 1059px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .inside-wraper {
    padding: 45px 0px;
  }

  .text-bold {
    font-weight: bold;
  }

  .left-img {
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
    object-fit: cover;
  }

  .testimonial-slide {
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 18px;
    box-shadow: 10px 10px 60px #2072be1a;
    text-align: left;
    position: relative;
    z-index: 3;
    height: 100% !important;
    width: 100%;
    max-width: 400px;
    min-width: 250px;
    margin: auto;
  }

  .testimonial-text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 8px;
    font-family: "ff-scala-sans-pro", sans-serif;
    letter-spacing: 0px;
    color: #132030;
    opacity: 1;
  }

  .testimonial-naam {
    font-family: "ff-scala-sans-pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #1e73be;
    opacity: 1;
    letter-spacing: 0px;
  }

  .container-block {
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
  }

  .white-wraper {
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 1000px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
    padding: 23px;
    margin-bottom: 1rem;
  }


  
.werken-slider {
  z-index: 1;
}
  .werken-slider::before {
    content: "";
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    left: 0;
    height: 100%;
    opacity: 1;
    background: #cce1f4;
  }

  .swiper-container {
    width: 100vw;
    margin: 0 auto;
    overflow: clip;
    overflow-y: visible;
    display: flex;
    padding: 60px 0px 51px;
    flex-direction: column;
    gap: 10px;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
      h2 {
    font-size: 44px;
    line-height: 66px;
    font-weight: 100;
    text-align: center;
  }

     .inside-wraper {
    padding: 90px 0px;
  }

    .content-wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .first-blue-block {
      height: 725px;
      margin-top: unset;
    }

    .werkwijze-hero-title {
      margin-top: -29px;
    }
  }
}
