.hero-section {
  height: 500px;
}

.hero-content {
  position: relative;
}

.container-img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background: linear-gradient(
      90deg,
      rgba(6, 48, 101, 0.9) 0%,
      rgba(0, 85, 179, 0.1) 100%
    ),
    url("<?= get_template_directory_uri() ?>/images/img-container.png") 50% /
      cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 326px;
}

.title-container {
  width: 100%;
  text-align: left;
  padding-left: 15px;
  color: #ffffff;
  font-size: 22px;
  line-height: 50px;
  font-weight: 300;
  font-family: "richmond-display", serif;
  letter-spacing: 1px;
}

.swiper-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: absolute;
  top: 62px;
  /* right: -98px; */
  width: 100%;
}




.werk-logo-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  /* width: 175px; */
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 193px;
}

.testimonial-slide {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 10px 10px 60px #2072be1a;
  text-align: left;
  position: relative;
  z-index: 3;
  height: 100% !important;
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  margin: auto;
}



.small-whit-container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 192px;
  text-align: center;
  gap: 4px;
  flex-direction: row;
}

.whi-container {
  margin-top: 58px;
}

@media (min-width: 768px) {
  

  .werk-right-text,
  .werk-right-text-bold {
    text-align: left;
  }

  .button-group {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  

  .first-blue-block {
    height: 683px;
    margin-top: unset;
  }

  .whi-container {
    margin-top: 80px;
  }

  
}
