@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Richmond+Display&display=swap");

@import url("https://use.typekit.net/fyu5pka.css");

h1 {
  color: #fff;
  font-family: "richmond-display", serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  @media (min-width: 768px) {
    line-height: 100%;
    letter-spacing: 0.345px;
  }
  @media (min-width: 992px) {
    font-size: 90px;
    line-height: 100%;
  }
}


h2 {
  color: #1e73be;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  line-height: 46px;
  font-family: "richmond-display", serif;
  letter-spacing: 0px;
  opacity: 1;

  @media (min-width: 768px) {
    font-size: 36px;
  }
  @media (min-width: 992px) {
  }
}
.h2 {
  color: #132030;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  line-height: 50px;
  font-family: "richmond-display", serif;
  letter-spacing: 0px;
  opacity: 1;
}

h3 {
  color: #132030;
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  line-height: 50px;
  font-family: "richmond-display", serif;
  letter-spacing: 0px;
  opacity: 1;
  @media (min-width: 992px) {
    font-size: 36px;
  }
}

.hero-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 0px;
  opacity: 1;
  @media (min-width: 992px) {
  }
}

.regular {
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  font-weight: 300;
  font-family: "ff-scala-sans-pro", sans-serif;
  letter-spacing: 0px;
  color: #132030;
  opacity: 1;
}

.lead {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  font-family: "Libre Franklin", sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    font-size: 16px !important;
  }
}

.normal {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  font-family: "ff-scala-sans-pro", sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  opacity: 1;
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
  }
}
