.strategie {
  .werk-container {
    padding: 80px 0px;
  }
  h2 {
    line-height: 50px;
  }

  .blue-block::before {
    content: "";
    position: absolute;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    left: 0;
    height: 100%;
    min-height: 550px;
    background-color: #cce1f4;
    opacity: 1;
  }
  .inside-block {
    padding: 50px 0px ;
    @media(min-width:768px){
      padding: 84px 0px 65px 0px;
    }
  }

  .text-muted{
    opacity: 0.5;
  }
  .text-visible {
    font-weight: bold;
    opacity: 1;
  }
  .h2 {
    margin-bottom: 30px;
  }
  .img-block {
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
  }
  .white-container {
   margin-top: 45px !important;
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 1000px;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
    padding: 40px 40px 32px 40px;
    @media(min-width:768px){
       margin-top: 75px !important;
    }
  }

  
 h3 {
    z-index: 1;
    font-size: 26px;
    line-height: 35px;
    @media(min-width:678px){
       font-size: 36px;
    line-height: 46px;
    }
  }

          
}
