@import "variables";
@import "components/form";
@import url("https://use.typekit.net/tks8jzx.css");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Richmond+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scala+Sans+Pro:wght@300&display=swap");

@import url("https://use.typekit.net/fyu5pka.css");

/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: #f7f6f4 0% 0% no-repeat padding-box;
}

a:any-link {
  text-decoration: none;
}

.nav-link:focus,
.nav-link:hover {
  color: white !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: white !important;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "header";
@import "footer";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";
