@import "variables";
@import "~bootstrap";
@import "~bootstrap/scss/_variables";
@import "components/form";



/* General styling */
html,
body {
  margin: 0 !important;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background: #f7f6f4 0% 0% no-repeat padding-box;
}

a:any-link {
  text-decoration: none;
}

.nav-link:focus,
.nav-link:hover {
  color: white !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: white !important;
}

img {
  width: 100%;
  height: auto;
}


.bg-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

/* Imports */
@import "header";
@import "footer";
@import "overons";
@import "kennismaken";
@import "werkwijze";
@import "cases";
@import "pages/front-page";
@import "pages/page";
@import "pages/login";
@import "button";
@import"font";
@import"404";
@import"components/text";
@import"components/onze-expertises";
@import "components/werken-slider";
@import "components/hero";
@import "project-en-programmamanagement";
@import"strategie";
@import"single-werken-voor";